@model KushaFlow.Models.StudentIsWork

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudentIsWork</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkFormat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkFormat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
